{% extends layout %}
{% block content %}
    <div class="row">
        <div class="col-lg-10">
            <legend>Configure CRUD for {{ tableName | replace('_',' ') | title }}</legend>
        </div>
        <div class="col-lg-2">
            <a href="{{ baseUrl() ~ Router.urlFromName('crud_listall') }}" class="pull-right btn btn-xs btn-primary">
                List All Models
            </a>
        </div>
    </div>

    <div id="configuretable">
    {% for field in fields %}
        {% set comment = null %}
        {% set comment = json_decode(field.comment, true) %}
        {% set isPrimary, display, required, readonly, autoload = false, false, false, false, false %}
        {% set alltypes = ['','text','int','datetime','boolean','password'] %}
        {% set selectedType, foreignKey, selectedValidations, colComments = null, null, null, null %}
        {% set allValidations = ['isEmail','isBoolean','minLength','maxLength','isIp','isUrl','isNumeric'] %}

        {% if comment is defined and comment.primary is defined and comment.primary == true %}
            {% set isPrimary = true %}
        {% endif %}

        {% if comment is defined and comment.display is defined and comment.display == true %}
            {% set display = true %}
        {% endif %}

        {% if comment is defined and comment.required is defined and comment.required == true %}
            {% set required = true %}
        {% endif %}

        {% if comment is defined and comment.readonly is defined and comment.readonly == true %}
            {% set readonly = true %}
        {% endif %}

        {% if comment is defined and comment.autoload is defined and comment.autoload == true %}
            {% set autoload = true %}
        {% endif %}

        {% if comment is defined and comment.type is defined %}
            {% set selectedType = comment.type %}
        {% endif %}

        {% if comment is defined and comment.foreign is defined %}
            {% set foreignKey = comment.foreign %}
        {% endif %}

        {% if comment is defined and comment.validate is defined %}
            {% set selectedValidations = comment.validate %}
        {% endif %}

        {% if comment is defined and comment.comment is defined %}
            {% set colComments = comment.comment %}
        {% endif %}

        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>{{ field.field }}</strong>
                    (
                    <small>{{ field.type }}</small>
                    )
                </div>
                <div class="panel-body">
                    <table>
                        <tr>
                            <td>
                                <div class="checkbox-inline"></div>
                                <label data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="If the column is a primary key. Used for Update and Delete Commands">
                                    <input class="isprimary" fieldname="{{ field.field }}" type="checkbox"
                                           {% if isPrimary == true %}checked isenabled=true{% else %}isenabled =
                                    false{% endif %}> Primary Key
                                </label>
                            </td>

                            <td>
                                <div class="checkbox-inline"></div>
                                <label data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="If checked, these columns will be display in the List All Option">
                                    <input class="display" fieldname="{{ field.field }}" type="checkbox"
                                           {% if display == true %}checked{% endif %}> Display in List
                                </label>
                            </td>

                            <td>
                                <div class="checkbox-inline"></div>
                                <label data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="If checked, these columns will be display in the List All Option">
                                    <input class="required" fieldname="{{ field.field }}" type="checkbox"
                                           {% if required == true %}checked{% endif %}> Required
                                </label>
                            </td>

                            <td>
                                <div class="checkbox-inline"></div>
                                <label data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Select if the column is readonly and cannot be updated by users">
                                    <input class="readonly" fieldname="{{ field.field }}" type="checkbox"
                                           {% if readonly == true %}checked{% endif %}> Read Only
                                </label>
                            </td>

                            <td>
                                <div class="checkbox-inline"></div>
                                <label data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Select if the column is loaded automatically. Eg: created and updated time">
                                    <input class="autoload" fieldname="{{ field.field }}" type="checkbox"
                                           {% if autoload == true %}checked{% endif %}> Autoload Data
                                </label>
                            </td>

                            <td>
                                <div class="checkbox-inline"></div>
                                <label class="control-label" data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Select the type of the data available in the column">
                                    Data Type:
                                </label>
                                <select id="select" class="datatype" fieldname="{{ field.field }}">
                                    {% for temptype in alltypes %}
                                        <option value="{{ temptype }}"
                                                {% if selectedType == temptype %}selected{% endif %}>{{ temptype }}</option>
                                    {% endfor %}
                                </select>
                            </td>

                            <td>
                                <div class="checkbox-inline"></div>
                                <label class="control-label" data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Enter the foreignKey if any">
                                    Foreign Key:
                                </label>
                                <input type="text" class="foreignkey" fieldname="{{ field.field }}"
                                       placeholder="TableName.columnName" value="{{ foreignKey }}">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7">
                                <strong>Validations:</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox-inline"></div>
                                <label data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Column should be a Valid E-Mail Address">
                                    <input class="validation isEmail" fieldname="{{ field.field }}" type="checkbox"
                                           {% if selectedValidations.isEmail is defined %}checked{% endif %}> Valid
                                    Email
                                </label>
                            </td>
                            <td>
                                <div class="checkbox-inline"></div>
                                <label data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Column should be Either True or False">
                                    <input class="validation isBoolean" fieldname="{{ field.field }}" type="checkbox"
                                           {% if selectedValidations.isBoolean is defined %}checked{% endif %}> Boolean
                                </label>
                            </td>
                            <td>
                                <div class="checkbox-inline"></div>
                                <label data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Column should be a valid IP Address">
                                    <input class="validation isIp" fieldname="{{ field.field }}" type="checkbox"
                                           {% if selectedValidations.isIp is defined %}checked{% endif %}> Valid Ip
                                    Address
                                </label>
                            </td>
                            <td>
                                <div class="checkbox-inline"></div>
                                <label data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Column should be a valid Url Address">
                                    <input class="validation isUrl" fieldname="{{ field.field }}" type="checkbox"
                                           {% if selectedValidations.isUrl is defined %}checked{% endif %}> Valid Url
                                </label>
                            </td>
                            <td>
                                <div class="checkbox-inline"></div>
                                <label data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Column should be Only Numbers">
                                    <input class="validation isNumeric" fieldname="{{ field.field }}" type="checkbox"
                                           {% if selectedValidations.isNumeric is defined %}checked{% endif %}> Only
                                    Numbers
                                </label>
                            </td>
                            <td>
                                <div class="checkbox-inline"></div>
                                <label class="control-label" data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Minimum Length of the Column Value">
                                    Min Length:
                                </label>
                                <input type="text" class="validation minLength" fieldname="{{ field.field }}"
                                       placeholder="Minimum Length" value="{{ selectedValidations.minLength }}">
                            </td>
                            <td>
                                <div class="checkbox-inline"></div>
                                <label class="control-label" data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Maximum Length of the Column Value">
                                    Max Length:
                                </label>
                                <input type="text" class="validation maxLength" fieldname="{{ field.field }}"
                                       placeholder="Maximum Length" value="{{ selectedValidations.maxLength }}">
                            </td>
                        </tr>
                        <tr style="height: 60px;">
                            <td>
                                <strong>Comments:</strong>
                            </td>
                            <td colspan="6">
                                <textarea style="width: 100%;" rows="2" class="comments" fieldname="{{ field.field }}"
                                          placeholder="Comments to Display to the user">{{ colComments }}</textarea>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <input id="modelName" type="hidden" value="{{ modelName }}"/>
    <input id="tableName" type="hidden" value="{{ tableName }}"/>
    <button id="submitchanges" type="button" class="btn btn-primary">Submit Changes</button>
    <div id="errorMessage"></div>
    <div id="errorDetails"></div>
{% endblock %}