{% extends layout %}
{% block content %}
    <div class="row">
        <div class="col-lg-8">
            <div class="well bs-component">
                <form id="updateform" name="updateform" class="form-horizontal">
                    <legend>Edit {{ modelName | title }}</legend>
                    <fieldset>
                        <input type="hidden" id="primaryid" name="primaryid" value="{{ id }}">
                        <input type="hidden" id="modelid" name="modelid" value="{{ modelName }}">
                        {% for field in fields %}
                            <div class="form-group">
                                {% set editid, disabled = null, null %}
                                {% set required = null %}
                                {% if field.primary is defined and field.primary == true %}
                                    {% set disabled = 'disabled' %}
                                {% endif %}
                                {% set editid = field.name ~ '_id' %}

                                {% if field.readonly is defined and field.readonly == true %}
                                    {% set disabled = 'disabled' %}
                                {% endif %}

                                {% if field.required is defined and field.required == true %}
                                    {% set required = 'required' %}
                                {% endif %}
                                <label for="{{ editid }}" class="col-lg-3 control-label">
                                    <strong>{{ field.name | replace('_',' ') | title }}</strong>
                                    {% if required is not null %}
                                        <span style="color: red;"><sup>*</sup></span>
                                    {% endif %}
                                </label>

                                <div class="col-lg-9">
                                    {% if field.dropdown is defined and field.dropdown == true %}
                                    {% else %}
                                        <input id="{{ editid }}" name="{{ editid }}" type="{{ field.type }}"
                                               class="form-control"
                                               placeholder="{{ field.name | replace('_',' ') | title }}"
                                                {{ reqiured }} {{ disabled }}>
                                    {% endif %}

                                    {% if field.comment is defined %}
                                        <span class="help-block">{{ field.comment }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="form-group">
                            <div class="col-lg-9 col-lg-offset-3">
                                <input type="submit" value="Submit" class="btn btn-primary btn-sm"/>
                                <a href="{{ baseUrl() }}{{ Router.urlFromName('crud_read', {'modelName':modelName}) }}"
                                   class="btn btn-default btn-sm">Back</a>
                            </div>
                        </div>
                        <div id="loadingdiv" class="alert alert-danger">Loading...</div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="bs-component">
                <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
                    <li class="">
                        <a href="{{ baseUrl() ~ Router.urlFromName('crud_create', {'modelName':modelName}) }}">
                            Create New
                        </a>
                    </li>
                    <li class="">
                        <a href="{{ baseUrl() ~ Router.urlFromName('crud_read', {'modelName':modelName}) }}">
                            List All
                        </a>
                    </li>
                    <li class="active">
                        <a href="{{ baseUrl() ~ Router.urlFromName('crud_update', {'modelName':modelName, 'id': id}) }}">
                            Edit {{ modelName | title }}
                        </a>
                    </li>
                    <li class="">
                        <a href="{{ baseUrl() ~ Router.urlFromName('crud_view', {'modelName':modelName, 'id': id}) }}">
                            View this {{ modelName | title }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}