{% extends layout %}
{% block content %}
    <div class="row">
        <div class="col-lg-8">
            <div class="well bs-component">
                <div class="divider">
                    {% for key, value in data %}
                        <p>
                        <div class="caption">
                            <p>{{ key }}:</p>

                            <p>
                                {% if value == null %}
                                    <i>NULL</i>
                                {% else %}
                                    <strong>{{ value }}</strong>
                                {% endif %}
                            </p>
                        </div>
                        </p>
                    {% endfor %}
                </div>

            </div>
        </div>
        <div class="col-lg-4">
            <div class="bs-component">
                <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
                    <li class="">
                        <a href="{{ baseUrl() ~ Router.urlFromName('crud_create', {'modelName':modelName}) }}">
                            Create New
                        </a>
                    </li>
                    <li class="">
                        <a href="{{ baseUrl() ~ Router.urlFromName('crud_read', {'modelName':modelName}) }}">
                            List All
                        </a>
                    </li>
                    <li class="">
                        <a href="{{ baseUrl() ~ Router.urlFromName('crud_update', {'modelName':modelName, 'id': id}) }}">
                            Edit {{ modelName | title }}
                        </a>
                    </li>
                    <li class="active">
                        <a href="{{ baseUrl() ~ Router.urlFromName('crud_view', {'modelName':modelName, 'id': id}) }}">
                            View this {{ modelName | title }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}